body{
    
    background-image: url(blu.jpg) ;
    background-repeat: no-repeat;
    background-size:100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    background-color: rgb(27, 27, 119);
    
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 10px;


}
img{
    float: left;
}
.navbar{
    
    padding-left: 30%;
    list-style: none;

}
.navbar li{
    font-family: roboto;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;

}
.navbar li:hover{
    transform: scale(1.2);
    text-underline-offset:;
    transition-duration: 0.5s;
    text-decoration-line: underline;
    
    transition-timing-function: ease-in-out;
}
.border{
    width:100%;
    background:linear-gradient(45deg,red 80%,black);
    height: 15px;
    position: sticky;
}
.stdn{
    align-items: end;
}
h2{
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.news-list-container{
    padding: 0 20px;
}
.news{
    border:2px groove grey;
    border-radius: 5px;
    width: 330px;
    object-fit: cover;
}
#bcci{
    border-radius: 5px;
}
.des{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-left:5px;
}
#lnews{
    display: flex;
    flex-direction: row;
    min-width: 600px;
}
.hui{
    padding-right: 20px;
    border-spacing: 30px;
}
.des:hover{
    color: white;
}
.news:hover{
    color: white;
    transform: scale(1.15);
    transition-duration: 1.7s;
    background-color: rgb(44, 44, 116);

}
.mob{
    background-image: url(blu.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 40%;
    align-items: center;

}
.moob{
    float: right;
    padding-right: 30px;
}
.play{
   padding-left: 40%;
   padding-bottom: 10%;
}
.hii{
    border-spacing: 20px;
}
.edo{
    border: 3px solid white;
    border-radius: 10px;
    background-color: orangered;
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.pics{
    padding-top: 20%;
    padding-left: 25%;
}
/* .ifacts{
    border: 3px groove black;
    border-radius: 10px;
    background-image: url(https://images.pling.com/img/00/00/66/46/31/1826562/curve-blue-background-design-hd-wallpaper-wallpaper-1920x1080-10wallpaper.com.jpg);
    width: 1200px;
    background-repeat: no-repeat;
    height: 150px;
   padding-right: 20px; */

#spon{
    color: gray;
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
}
.spon{
    padding-left: 46.5%;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e0d0d;
    /* height: auto; */
    /* width: 100%; */
    font-family: "Open Sans";
    padding-top: 40px;
    color: #ede7e7;
    /* padding: 5rem; */
}
.footer-content{
    display: flex;
    align-content: center
    justify-content: center;
   padding-right: 5rem;
   text-align: right;
   /* background-color: aqua; */
    flex-direction: column;
    /* width: 100%; */
    /* padding: left 0; */
}
.con{
   
    font-size: 1.8rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content:center;
    text-transform: capitalize;
    line-height: 3rem;
}
.reach{
    /* padding-right: 5rem; */
   display: flex;
   justify-content:center;
   align-items:center;
   
    line-height: 28px;
    font-size: 14px;
    width: 100%;

}
.socials{
    /* padding-right: 5rem; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-right: 3%;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgba(211, 211, 211, 0.703);
}

